parameters:
    level: max
    paths:
        - src

    excludePaths:
        - vendor
        - tests

    bootstrapFiles:
        - phpstan-bootstrap.php

    stubFiles:
        - phpstan-stubs/PHP_CodeSniffer.stub.php

    scanDirectories:
        - vendor/squizlabs/php_codesniffer/src

    # Report all errors
    reportUnmatchedIgnoredErrors: true
    checkMissingCallableSignature: true

    # Additional checks
    treatPhpDocTypesAsCertain: false

    typeAliases:
        CsToken: 'array{code: int|string, content: string, type: string, line: int, column: int, level: int, conditions: array<int, int|string>, nested_parenthesis?: array<int, int>, scope_opener?: int, scope_closer?: int, scope_condition?: int, parenthesis_opener?: int, parenthesis_closer?: int, parenthesis_owner?: int, bracket_opener?: int, bracket_closer?: int, attribute_closer?: int, comment_opener?: int, comment_closer?: int}'
        CsTokens: 'array<int, CsToken>'
